@mixin Flex( $direction, $wrap, $align, $content) {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox; 
    display: -webkit-flex; 
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
    justify-content: $content;
}

footer{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: linear-gradient(146deg, #0F172A, #334155);
    overflow: hidden;
    padding: 50px   ;
    box-sizing: border-box;
    animation: backgrundMoviment 5s ease infinite;
    background-size: 200% 200%;
    margin-top: 120px;

    @include Flex(column, nowrap, start, start);
    gap: 30px;
    position: relative;

    .content-title{
        width: 100%;
        height: auto;
        margin-top: 50px;

        .footerTitle{
            margin: none;
            font-size: 4.5em;
            color: #f1f1f1;
            font-weight: 900;
            text-shadow: 0px 0px 10px #fff;
            text-align: left;
            text-transform: uppercase;
        }
    }

    .content-subtitle{
        width: 60%;
        min-width: 800px;
        height: auto;
        margin-top: 30px;

        .footerParagraph{
            font-size: 2.5em;
            color: #fff;
            font-weight: lighter;

            t{
                color: #FFFB8E;
            }
        }
    }

    .content{
        width: 100%;
        height: auto;
        margin-top: 100px;
        padding: 10px 8%;
        box-sizing: border-box;

        @include Flex(row, nowrap, center, space-between);
        gap: 30px;

        .content-social-information{
            width: 75%;
            height: auto;
            @include Flex(column, nowrap, start, start);
            gap: 8vh;

            .content-information{
                width: 100%;
                height: auto;
                @include Flex(row, nowrap, center, start);
                gap: 5%;

                #github{
                    filter: none;
                }
                
                img{
                    width: 100%;
                    height: 100%;
                    max-width: 80px;
                    max-height: 80px;
                    min-width: 40px;
                    min-height: 40px;
                    object-fit: contain;
                    position: relative;
                    display: block;
                    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(358deg) brightness(106%) contrast(101%);
                }

                a{
                    width: 100%;
                    text-decoration: none;
                    cursor: default;
                }

                .informationText{
                    width: auto;
                    min-width: 70%;
                    display: inline-block;
                    height: auto;
                    padding: 25px 30px;
                    box-sizing: border-box;
                    background-color: #3C4C67;
                    border-radius: 8px;
                    font-size: 1.4em;
                    color: #fff;
                    font-weight: normal;
                    transition: .3s;


                    &:hover{
                        text-decoration: underline;
                        background-color: #475a7c;
                        cursor: pointer !important;
                    }
                }
            }
        }

        .content-resume{
            width: 25%;
            height: auto;
            @include Flex(row, nowrap, center, center);

            .resume{
                width: 100%;
                height: 100%;
                max-width: 400px;
                max-height: 450x;
                position: relative;

                .content-resume{
                    width: 100%;
                    min-width: 400px;
                    height: auto;
                    position: absolute;
                    top: 0px;
                    bottom: 0px;
                    margin: auto;
                    @include Flex(column, nowrap, center, center);
                    gap: 50px;    
                }

                .resumeTitle{
                    font-weight: bolder;
                    font-size: 1.8em;
                    color: #fff;
                }

                .buttonResume{
                    width: 60%;
                    max-width: 350px;
                    min-width: 250px;
                    height: 60px;
                    background-color: #ABC7F4;
                    border-radius: 7px;
                    color: #fff;
                    cursor: pointer;
                    font-size: 1.2em;
                    font-weight: bolder;
                    text-align: center;
                    border: none;
                    display: block;
                    text-transform: uppercase;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

        }
    }

    .content-web-information{
        width: 100%;
        height: auto;
        min-height: 40px;
        padding: 10px;
        box-sizing: border-box;
        @include Flex(row, wrap, center, start);
        gap: 20px;
        color: #e0e0e0;

        a{
            text-decoration: none;
        }

        .clickAnimate{
            &:hover{
                text-decoration: underline;   
            }
        }

        .webInformationText{
            font-size: 1em;
            color: #fff;
            font-weight: 400;
            text-transform: uppercase;        
            cursor: pointer;    
        }
    }
}

@keyframes backgrundMoviment {
    0% {
        background-position: 0% 0%; 
    }
    50% {
        background-position: 100% 100%; 
    }
    100% {
        background-position: 0% 0%; 
    }
}

@media (max-width: 1400px) {
    footer{
        padding: 30px 10px 30px 10px;
        margin-top: 40px;
        gap: 30px;
    
        .content-title{
            margin-top: 10px;
    
            .footerTitle{
                font-size: 2.6em;
            }
        }
    
        .content-subtitle{
            width: 100%;
            min-width: 100%;
            margin-top: 15px;
    
            .footerParagraph{
                font-size: 1.5em;
            }
        }
    
        .content{
            margin-top: 30px;
            padding: 0px;

            @include Flex(column, nowrap, start, start);
            gap: 30px;
    
            .content-social-information{
                width: 100%;
                @include Flex(column, nowrap, start, start);
                gap: 30px;


                .content-information{
                    @include Flex(row, nowrap, center, start);
                    gap: 5%;
    
                    img{
                        max-width: 40px;
                        max-height: 30px;
                        min-width: 30px;
                        min-height: 30px;
                    }
    
                    .informationText{
                        min-width: 70%;
                        padding: 20px 15px;
                        font-size: 1.1em;                
                    }
                }
            }
    
            .content-resume{
                width: 100%;
                @include Flex(row, nowrap, center, center);
    
                .resume{
                    max-width: 350px;
                    max-height: 350px;
                    margin-top: 40px;
                    @include Flex(row, nowrap, center, center);

                    svg{
                        margin: auto;
                    }

                    .content-resume{
                        width: 65%;
                        min-width: auto;
                        @include Flex(column, nowrap, center, center);
                        gap: 60px;    
                    }
    
                    .resumeTitle{
                        font-size: 1.5em;
                    }
    
                    .buttonResume{
                        width: 100%;
                        max-width: 180px;
                        min-width: 100px;
                        height: 60px;
                        font-size: 1.2em;
                    }
                }
            }
        }
    
        .content-web-information{
            margin-top: 30px;
            width: 100%;
            height: auto;
            min-height: 40px;
            padding: 10px;
            box-sizing: border-box;
            @include Flex(row, wrap, center, start);
            gap: 20px;
    
            a{
                text-decoration: none;
            }
    
            .clickAnimate{
                &:hover{
                    text-decoration: underline;   
                }
            }
    
            .webInformationText{
                font-size: 1em;
                color: #fff;
                font-weight: 400;
                text-transform: uppercase;        
                cursor: pointer;    
            }
        }
    }
}