@mixin Flex( $direction, $wrap, $align, $content) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
    justify-content: $content;
}

.ProjectView{
    width: 100%;
    height: auto;
    padding: 10px 2%;
    box-sizing: border-box;
    position: relative;
    @include Flex(column, nowrap, center, center);
    margin-top: 35px;
    gap: 50px;

    .content-title-section{
        width: 100%;
        height: auto;
        padding: 10px 5%;
        box-sizing: border-box;
        @include Flex(row, nowrap, center, start);
        gap: 30px;

        .image-section{
            width: 100px;
            height: 100px;
            object-fit: contain;
        }

        .ProjectViewTitle{
            font-size: 4em;
            font-weight: 900;
            color: #222D41;
            text-transform: uppercase;
            text-align: left;
        }
    }
}

@media (max-width: 1400px) {
    .ProjectView{
        margin-top: 0px;
        gap: 10px;
        
        .content-title-section{
            padding: 10px 1% 10px 5px;
            align-items: flex-end;
            gap: 15px;
    
            .image-section{
                width: 50px;
                height: 50px;
                object-fit: contain;
            }
    
            .ProjectViewTitle{
                font-size: 1.4em;
            }
        }    
    }
}